---
import { getEntryBySlug } from "astro:content";
import Layout from "@/layouts/Layout.astro";

const { slug } = Astro.params;

const entry = await getEntryBySlug("neurosocionics", slug);
if (!entry) throw new Error("Not found");

const { title, description } = entry.data;
const { Content } = await entry.render();
---

<Layout title={title} description={description}>
  <h1>{title}</h1>
  <p>{description}</p>
  <Content />
</Layout>
